iitarget/
*dependency-reduced-pom.xml
*.*~
/tmc-langs-framework/src/test/resources/example_ant_project/build/
/tmc-langs-framework/src/test/resources/example_ant_project/dist/
/tmc-langs-ant/src/test/resources/example_ant_project/build/
/tmc-langs-ant/src/test/resources/example_ant_project/dist/
/tmc-langs-ant/src/test/resources/most_errors/build/
/tmc-langs-ant/src/test/resources/trivial/build/
/tmc-langs-ant/src/test/resources/ant_arith_funcs/build/

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion
*.iml
.idea/
*.ipr
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
.settings
workbench.xmi
nbproject/

# Maven
target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

*.log

# Python
__pycache__/

# eclipse
.project
.classpath

/tmc-langs-java/src/main/resources/tmc-junit-runner.jar
/tmc-langs-java/src/test/resources/exit_zero/build/

# Qt stuff
*.pro.user*
*.qmlc
*.qmake.stash

# CSharp
obj/
bin/
