target/
*dependency-reduced-pom.xml
*.*~
/tmc-langs-framework/src/test/resources/example_ant_project/nbproject/private/
/tmc-langs-framework/src/test/resources/example_ant_project/build/
/tmc-langs-framework/src/test/resources/example_ant_project/dist/
/tmc-langs-ant/src/test/resources/example_ant_project/build/
/tmc-langs-ant/src/test/resources/example_ant_project/dist/
/tmc-langs-ant/src/test/resources/example_ant_project/nbproject/private/
/tmc-langs-ant/src/test/resources/most_errors/nbproject/private/
/tmc-langs-ant/src/test/resources/most_errors/build/
/tmc-langs-ant/src/test/resources/trivial/build/
